{% extends "base.html" %}

{% block content %}
<main id="contenido">
  <article class="home-content">
    <h1>{{ section.title }}</h1>
    <img
      class="home-content__image"
      src="{{ get_url(path='images/plantas-maestras.webp') | safe }}"
      srcset="{{ get_url(path='images/plantas-maestras-800.webp') | safe }} 800w, {{ get_url(path='images/plantas-maestras.webp') | safe }} 1600w"
      sizes="(max-width: 832px) calc(100vw - 2rem), 800px"
      width="1600"
      height="1600"
      alt=""
    >
    {{ section.content | safe }}
  </article>
</main>
{% endblock content %}
